* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT Mono', monospace;
}

/*.dustWrapper {
  width: 98vw;
  height: 96vh;
}*/

.zoomWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 120px);
  overflow: hidden;
}

.dustContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.dustContainer > div {
  display: flex;
  justify-content: space-around;
}

.dustContainer > div > div {
  width: 1.5vw;
  height: 1.5vw;
  background-image: none;
  background-size: cover;
}

.buttonWrapper,
.statisticsWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

#timestamp {
  width: 360px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.buttonWrapper aside {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(100% - 360px);
  height: 40px;
}

.buttonWrapper aside div {
  cursor: pointer;
}

.statisticsWrapper {
  margin-top: 40px;
}

#logo {
  width: 360px;
  background-size: 230px;
  background-repeat: no-repeat;
  background-position: 4vw;
}

.statisticsWrapper aside {
  display: flex;
  width: calc(100% - 360px);
  height: 40px;
}

.statisticsWrapper aside > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33333333%;
  height: 36px;
}

@media print {
  * { -webkit-print-color-adjust: exact; }
  .screen { display: none; }
  .print  { display: block; }

  .s1 { background-image: url(../images/dust_particles_4.svg) !important; }
  .s2 { background-image: url(../images/dust_particles_5.svg) !important; }
  .s3 { background-image: url(../images/dust_particles_6.svg) !important; }

  .dustWrapper {
    width: 98vw;
    height: 96vh;
  }

  .zoomWrapper,
  .statisticsWrapper aside {
    border: 1px solid black;
  }

  .buttonWrapper aside {
    border-right:  1px solid black;
    border-bottom: 1px solid black;
    border-left:   1px solid black;
  }

  .statisticsWrapper aside > div:nth-child(1),
  .statisticsWrapper aside > div:nth-child(2) {
    border-right: 1px solid black;
  }

  #timestamp {
    border-left:   1px solid black;
    border-bottom: 1px solid black;
  }

  #logo {
    background-image: url(../images/logo_black.svg);
  }
}

@media screen {
  body {
    background-color: black;
    color: white;
  }

  .screen { display: block; }
  .print  { display: none; }

  .s1 { background-image: url(../images/dust_particles_7.svg) !important; }
  .s2 { background-image: url(../images/dust_particles_8.svg) !important; }
  .s3 { background-image: url(../images/dust_particles_9.svg) !important; }

  .printPreloader {
    position: absolute;
    top: -20000px;
    left: -20000px;
  }

  .dustWrapper {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
  }

  .zoomWrapper,
  .statisticsWrapper aside {
    border: 1px solid white;
  }

  #timestamp {
    border-left:   1px solid white;
    border-bottom: 1px solid white;
  }

  #logo {
    background-image: url(../images/logo_white.svg);
  }

  .buttonWrapper aside {
    border-right:  1px solid white;
    border-bottom: 1px solid white;
    border-left:   1px solid white;
  }

  .statisticsWrapper aside > div:nth-child(1),
  .statisticsWrapper aside > div:nth-child(2) {
    border-right: 1px solid white;
  }
}
