@media print {
  * { -webkit-print-color-adjust: exact; }
  .screen { display: none; }
  .print  { display: block; }
}

@media screen {
  .screen { display: block; }
  .print  { display: none; }
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT Mono', monospace;
}

.dustWrapper {
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
  width: 98vw;
  height: 96vh;
  /*border-top:   2px solid black;*/
  /*border-right: 2px solid black;*/
  /*border-left:  2px solid black;*/
}

.dustContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100% - 120px);
  border: 2px solid black;
}

.dustContainer > div {
  display: flex;
  justify-content: space-around;
}

.dustContainer > div > div {
  width: 1vw;
  height: 1vw;
  background-image: none;
  /*background-image: url(dust_particles_1.svg);*/
  background-size: cover;

  /*animation: blink linear 3000ms;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;*/
}

@keyframes blink {
  0%   { background-image: url(../dust_particles_1.svg); }
  32%  { background-image: url(../dust_particles_1.svg); }
  33%  { background-image: url(../dust_particles_2.svg); }
  65%  { background-image: url(../dust_particles_2.svg); }
  66%  { background-image: url(../dust_particles_3.svg); }
  98%  { background-image: url(../dust_particles_3.svg); }
  99%  { background-image: none; }
  100% { background-image: none; }
}

.s1 { background-image: url(../dust_particles_1.svg) !important; }
.s2 { background-image: url(../dust_particles_2.svg) !important; }
.s3 { background-image: url(../dust_particles_3.svg) !important; }

.black { background-color: black; }

.buttonWrapper,
.statisticsWrapper {
  /*position: fixed;*/
  /*bottom: 40px;*/
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

#timestamp {
  width: 360px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-left:  2px solid black;
  border-bottom: 2px solid black;
}

.buttonWrapper aside {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(100% - 360px);
  height: 40px;
  border-right:  2px solid black;
  border-bottom: 2px solid black;
  border-left:   2px solid black;
}

.buttonWrapper aside div {
  cursor: pointer;
}

.statisticsWrapper {
  margin-top: 40px;
}

#logo {
  width: 360px;
}

.statisticsWrapper aside {
  display: flex;
  width: calc(100% - 360px);
  height: 40px;
  border: 2px solid black;
}

.statisticsWrapper aside > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33333333%;
  height: 36px;
}

.statisticsWrapper aside > div:nth-child(1),
.statisticsWrapper aside > div:nth-child(2) {
  border-right: 2px solid black;
}
